* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ccc;
  color: white;
  padding: 0.25rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
